
#contentcircle {
    width: 100px;
    height: 100px;
    background: blue; 
    background-color: blue;
    /* clip-path: polygon(0 0, 100% 0, 0 100%); */
  }

  .content {
    width: 100%;
    height: 100%;
    mask-image: radial-gradient(circle at -20% -10%, transparent 50%, black 50%);
  }
  

  /* .content::before,
  .content::after{
    content: '';
    position: absolute;
    clip-path: circle(100% at 0% 0%);
    background-color:rgb(33, 33, 33) ;
    opacity: 0.1;

    width:60%;
    height:55%;
  }

  .dark .content::before,
  .content::after {
    background-color: red;


  } */





  